*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}

.converter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 300px;
  border: 2px solid #1fa5c7;
  border-radius: 10px;
}

.converter__tooltip {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.753);
  color: #fff;
  font-size: 1.2rem;
  white-space: nowrap;
  padding: 1em 1.5em;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.converter__tooltip-cel {
  right: -8%;
}

.converter__tooltip-far {
  right: -29%;
}

.converter__btn-deg-cel:hover + .converter__tooltip-cel,
.converter__btn-deg-far:hover + .converter__tooltip-far {
  top: 15%;
  visibility: visible;
  opacity: 1;
}

.converter__tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

.converter__common-properties {
  font-size: 1.5rem;
  border-radius: 6px;
  border: 2px solid #e9e3e3;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.converter__components {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 50%;
  padding: 2em 0;
  height: 150px;
  width: 100%;
}

.converter__score {
  position: absolute;
  top: -30px;
  padding: 1em 2em;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.767);
  border-bottom: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.converter__title {
  margin-top: 0.6em;
  text-shadow: 2px 2px 10px #000;
  color: #fff;
  font-size: 3.4rem;
  font-weight: 900;
}

.converter__btn-deg-cel, .converter__btn-deg-far {
  border-radius: 30px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 2px 2px 3px #252222;
          box-shadow: inset 2px 2px 3px #252222;
}

.converter__btn {
  position: relative;
  padding: 1em 2em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

.converter__btn::before {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.converter__btn::before {
  top: 10px;
  left: -100px;
  height: 100%;
  width: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.converter__btn:hover::before {
  left: 130%;
}

.converter__input {
  width: 160px;
  height: 50px;
  padding: 0.5em;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

.converter__input:focus, .converter__btn:focus {
  outline: none;
  border: 2px solid rgba(233, 227, 227, 0.658);
}

.converter__input:hover, .converter__btn:hover {
  border: 2px solid rgba(233, 227, 227, 0.658);
}
/*# sourceMappingURL=style.css.map */